.user-profile-card {
  width: 320px;

  background: white;

  border-radius: 14px;

  padding: 30px;

  border: 1px solid #e2e8f0;

  text-align: center;
}

.user-profile-card img {
  width: 120px;
  height: 120px;

  border-radius: 50%;
}

.user-profile-card h2 {
  margin-top: 20px;
}

.user-profile-card span {
  color: #2563eb;
}

.status {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.status small {
  color: #94a3b8;
}

.status strong {
  color: #22c55e;
}

.status-bar {
  margin-top: 10px;
  height: 6px;

  background: #22c55e;

  border-radius: 10px;
}