.personal-info-card {
  flex: 1;

  background: white;

  border-radius: 14px;

  border: 1px solid #e2e8f0;

  padding: 30px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-header button {
  background: #3b82f6;
  color: white;

  border: none;

  padding: 10px 20px;

  border-radius: 8px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  margin-top: 30px;
}

.info-grid small {
  color: #94a3b8;
}

.info-grid p {
  margin-top: 5px;
  color: #0f172a;
}